/* PALETA DE COLORES APP ANDROID */
:root {
    --color-primary: #1565C0;   /* Azul Institucional */
    --color-accent: #00BFA5;    /* Verde Turquesa (Botones) */
    --color-dark: #263238;      /* Texto Oscuro */
    --bg-light: #F5F7FA;        /* Fondo claro */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-light);
}

/* Navbar */
.bg-primary {
    background-color: var(--color-primary) !important;
}

/* Hero Section (Fondo Azul con gradiente) */
.hero-section {
    background: linear-gradient(135deg, var(--color-primary) 0%, #0D47A1 100%);
    height: 80vh; /* Ocupa el 80% de la altura de la pantalla */
    margin-top: 50px;
}

/* Botones personalizados */
.btn-accent {
    background-color: var(--color-accent);
    color: white;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn-accent:hover {
    background-color: #008f7a;
    color: white;
    transform: scale(1.05);
}

/* Tarjetas de Objetivos */
.icon-box {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border-radius: 50%;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}